.centreText {
    text-align: center;
  }
  
  h1 {
    font-size: 150px;
  }
  
  .dropZone {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: 51vh;
    background-color: rgb(245, 237, 237);
    border-radius: 20px;
    color: rgb(29, 55, 63);
  }
  
  .image1 {
    max-width: 100%;
    height: 50vh;
  }
  
  .dank {
    display:flex;
    justify-content:center;
    color:rgb(241, 239, 233);
    font-size: 20px;
  }
  
  .dropZoneText {
    height: 50vh;
    display: flex;
    font-family: "Microsoft New Tai Lue", Times, serif;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }